
  .control-buttons {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 2;  /*to be above all*/
    background-color: rgba(249, 241, 240, 0.9);
  }
  .control-buttons span {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); /*move element*/
    background-color: #F79489;
    color: #FFF;
    padding: 15px 25px;
    font-size: 30px;
    text-align: center;
    border-radius: 6px;
    cursor: pointer;
  }
  .info-container {
    width: 830px;
    margin: 20px auto 0;
    background-color: #F6F6F6;
    padding: 20px;
    font-size: 24px;
    overflow: hidden;
    border: 2px solid #F79489;
  }
  .info-container .qoute {
    float: left;
    width: 33.33%;
  }
  .info-container .attempts_s {
    float: right;
    width: 33.33%;

    text-align: right;
  }
 
  .memory-game-blocks {
    display: flex;
    width: 830px;
    flex-wrap: wrap;
    margin: 20px auto;
  }
  .memory-game-blocks.no-clicking {
    pointer-events: none;  /* عشان ما يقدر المستخدم يضغط*/
  }
  .memory-game-blocks .game-block {
    height: 160px;
    transition: transform .5s;
    transform-style: preserve-3d; /*element should be positioned in the 3D-space.*/
    cursor: pointer;
    position: relative;
    flex: 1 0 160px; /*160 is width*/
    margin: 0 10px 20px;
  }
  .memory-game-blocks .game-block .front {
    background-color: #F79489;
    line-height: 200px;
  }
  
  .memory-game-blocks .game-block .back {
    background-color: #FFF;
    transform: rotateY(180deg); /*make card flip*/
  }
  .memory-game-blocks .game-block .back img {
    width: 110px;
    height: 110px;
    margin-top: 30px;
  }
  .memory-game-blocks .game-block .face {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    backface-visibility: hidden;
    border: 5px solid #FADCD9;
  }
  .memory-game-blocks .game-block.is-flipped,
  .memory-game-blocks .game-block.has-match {
    transform: rotateY(180deg); 
    pointer-events: none; /*remove pointer event*/
  }